<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <a href="#" class="navbar-brand col-sm-3 text-center col-md-2 mr-0">
        <h4> Meta Medias </h4>
    </a>
    
    <div class="bmd-form-group bmd-collapse-inline pull-xs-right pr-3">
        <span>
            <input ng-model="price" type="number" min="0" class="form-control" placeholder="Enter your price axis...">
        </span>
        
        <button class="btn bmd-btn-icon" >
            <i class="material-icons text-white">search</i>
        </button> 
    </div>
</nav>